@model IEnumerable<EventManagement.Models.events>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.edate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gathering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decorationPlans.dname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventType.eventType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.edate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gathering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fo_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decorationPlans.dname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventType.eventType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eid }) |
            @Html.ActionLink("Details", "Details", new { id=item.eid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eid })
        </td>
    </tr>
}

</table>
